@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    font-family: 'Karla', sans-serif;
    background-color: #e1e3e2;
}

html, .fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

input{
    color: black;
    font-family: 'Karla', sans-serif;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    transition: all 0.3s ease;
}

input:focus{
    outline: none;
    transition: all 0.3s ease;
    border-bottom: 2px solid #b6805e;
}

input:read-only{
    background-color: #cecece;
    pointer-events: none;
}

.container {
    width: 60%;
    margin: auto;
}

.title {
    font-size: 3rem;
    color: #704f3b
}

#resultado {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

textarea{
    border: 2px solid black;
    resize: none;
    outline: none;
}

textarea:hover{
    border-bottom: 2px solid black;
}

.searchBar{
    display: grid;
    width: 100%;
    grid-template-columns: 80% 20%;
}

.searchBar button{
    margin: 0;
    width: 80% !important;
    justify-self: end;
    height: 30px;
    background-color: white;
    transition: all 0.3s ease;
}

.searchBar button:hover{
    transition: all 0.3s ease;
    background-color: rgb(230, 228, 228);
    
}

.item {
    width: 85%;
    background-color: #f0f0f0;
    border: 20px solid #ccc;
    margin: 5px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

img {
    max-width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0 50px;
}

.grid input,
.grid textarea,
.grid button {
    margin: 10px 0;
    width: 100%;
}

#updateForm{
    display: none;
}