@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    font-family: 'Karla', sans-serif;
    background-color: #e1e3e2;
}

html, .fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

input{
    color: black;
    font-family: 'Karla', sans-serif;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    transition: all 0.3s ease;
}

input:focus{
    outline: none;
    transition: all 0.3s ease;
    border-bottom: 2px solid #b6805e;
}

input:read-only{
    background-color: #cecece;
    pointer-events: none;
}

input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}

label{
    align-self: flex-start;
    padding-top: 5px;
}

.container {
    width: 60%;
    margin: auto;
}

.title {
    font-size: 3rem;
    color: #704f3b
}

#resultado {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

textarea{
    width: 50%;
    border: 2px solid black;
    resize: none;
    outline: none;
}

textarea:hover{
    border-bottom: 2px solid black;
}

.searchBar{
    display: grid;
    width: 100%;
    grid-template-columns: 80% 20%;
}

.searchBar button{
    margin: 0;
    width: 80% !important;
    justify-self: end;
    height: 30px;
    background-color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

.searchBar button:hover{
    transition: all 0.3s ease;
    background-color: rgb(230, 228, 228);
}

.submitBtn{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 13px;
    transition: 0.3s ease;
    cursor: pointer;
    background-color: white;
    height: 30px;
    border: none;
    border-radius: 3px;
}

.submitBtn:hover{
    transition: 0.3s ease;
    background-color: rgb(230, 228, 228);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.choiceBtn{

    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 13px;
    background-color: white;
    border: none;
    border-radius: 3px;
    transition: 0.3s ease;
    cursor: pointer;
}

.choiceBtn:hover{
    transition: 0.3s ease;
    background-color: rgb(230, 228, 228);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.entrada{
    max-width: 120%;
    margin: 0 auto;
}

.consulta{
    max-width: 100%;

    margin: 0 auto;
}

.item {
    max-width: 80%;
    min-width: none;
    background-color: #f0f0f0;
    border-radius: 3px;
    box-shadow: 10px 10px 15px -3px rgba(0,0,0,0.1);
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    transition : 500ms;
    cursor: pointer;
}

.item:hover{
    transition : 500ms;
    transform : translateY(-13px);
}

img {
    max-width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0 50px;
}

.grid input,
.grid textarea,
.grid button {
    margin: 10px 0;
    width: 100%;
}
.gridBtn{
    gap: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
}

#updateForm{
    display: none;
}

.offBody{
    margin: auto;
    display: block;
}

.offline{
    min-width: 500px;
    min-height: 250px;
    text-align: center;
    box-shadow: 20px 25px 15px -3px rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 10px;
}

.offText{
    padding-top: 70px;
}

a{

    color: black;
}

@media (max-width: 900px) {
    .grid{grid-template-columns: 100%;}
    body{
        justify-content: center;
        justify-items: center;
    }
  }